/* to push content below navbar: */
body {
	padding-top: 50px;
}

/* sets navbar (and it's children elements) to specified color */
.navbar > * {
	background-color: #B3DEF5;
}

.navbar {
	border-bottom: 0px;
	opacity: 0.9;
}

